In [1]:
# Loading the data
import numpy as np
import pandas as pd

In [2]:
cell = pd.read_csv("cell_phones.csv")
cell

           Country  year  cell_phones_total
0      Afghanistan  1960                0.0
1      Afghanistan  1961                0.0
2      Afghanistan  1962                0.0
3      Afghanistan  1963                0.0
4      Afghanistan  1964                0.0
...            ...   ...                ...
11635     Zimbabwe  2015         12800000.0
11636     Zimbabwe  2016         12900000.0
11637     Zimbabwe  2017         14100000.0
11638     Zimbabwe  2018         12900000.0
11639     Zimbabwe  2019         13200000.0

[11640 rows x 3 columns]

In [3]:
pop = pd.read_csv("population1.csv")
pop

           Country  year  population
0      Afghanistan  1800     3280000
1      Afghanistan  1801     3280000
2      Afghanistan  1802     3280000
3      Afghanistan  1803     3280000
4      Afghanistan  1804     3280000
...            ...   ...         ...
58690     Zimbabwe  2096    30900000
58691     Zimbabwe  2097    31000000
58692     Zimbabwe  2098    31000000
58693     Zimbabwe  2099    31000000
58694     Zimbabwe  2100    31000000

[58695 rows x 3 columns]

In [4]:
geo = pd.read_csv("ddf--entities--geo--country.csv")
geo

,country,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,name,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,yem_south,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,South Yemen (former),NaN,NaN,False,NaN,NaN,asia,middle_east_north_africa
269,yug,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,Yugoslavia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
270,zaf,g77,middle_income,upper_middle_income,True,ZA,ZAF,710.0,NaN,coastline,...,24.00000,christian,South Africa,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZA,africa,sub_saharan_africa
271,zmb,g77,middle_income,lower_middle_income,True,ZM,ZMB,894.0,NaN,landlocked,...,28.50000,christian,Zambia,un_least_developed,un_sub_saharan_africa,True,ssa,ZM,africa,sub_saharan_africa
272,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,29.75000,christian,Zimbabwe,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa

In [5]:
# joining the data
merged = cell.merge(pop, how='inner')
merged

           Country  year  cell_phones_total  population
0      Afghanistan  1960                0.0     9000000
1      Afghanistan  1961                0.0     9170000
2      Afghanistan  1962                0.0     9350000
3      Afghanistan  1963                0.0     9540000
4      Afghanistan  1964                0.0     9740000
...            ...   ...                ...         ...
11635     Zimbabwe  2015         12800000.0    13800000
11636     Zimbabwe  2016         12900000.0    14000000
11637     Zimbabwe  2017         14100000.0    14200000
11638     Zimbabwe  2018         12900000.0    14400000
11639     Zimbabwe  2019         13200000.0    14600000

[11640 rows x 4 columns]

In [6]:
rename_geo = geo.rename(columns={"country":"geo", "name":"Country"})
rename_geo

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,Country,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,yem_south,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,South Yemen (former),NaN,NaN,False,NaN,NaN,asia,middle_east_north_africa
269,yug,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,Yugoslavia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
270,zaf,g77,middle_income,upper_middle_income,True,ZA,ZAF,710.0,NaN,coastline,...,24.00000,christian,South Africa,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZA,africa,sub_saharan_africa
271,zmb,g77,middle_income,lower_middle_income,True,ZM,ZMB,894.0,NaN,landlocked,...,28.50000,christian,Zambia,un_least_developed,un_sub_saharan_africa,True,ssa,ZM,africa,sub_saharan_africa
272,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,29.75000,christian,Zimbabwe,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa

In [7]:
joined = rename_geo.merge(merged, how='inner')
joined

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region,year,cell_phones_total,population
0,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia,1960,0.0,9000000
1,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia,1961,0.0,9170000
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia,1962,0.0,9350000
3,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia,1963,0.0,9540000
4,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia,1964,0.0,9740000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11635,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa,2015,12800000.0,13800000
11636,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa,2016,12900000.0,14000000
11637,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa,2017,14100000.0,14200000
11638,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa,2018,12900000.0,14400000
11639,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa,2019,13200000.0,14600000

In [8]:
# Make features
joined['cell_phones_per_person'] = joined['cell_phones_total']/joined['population']
joined['cell_phones_per_person']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
11635    0.927536
11636    0.921429
11637    0.992958
11638    0.895833
11639    0.904110
Name: cell_phones_per_person, Length: 11640, dtype: float64

In [9]:
usa = joined.loc[joined['geo'] == 'usa']
usa

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region,year,cell_phones_total,population,cell_phones_per_person
10980,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1960,0.0,187000000,0.000000
10981,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1961,0.0,190000000,0.000000
10982,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1962,0.0,192000000,0.000000
10983,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1963,0.0,195000000,0.000000
10984,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1964,0.0,197000000,0.000000
10985,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1965,0.0,200000000,0.000000
10986,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1966,0.0,202000000,0.000000
10987,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1967,0.0,204000000,0.000000
10988,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1968,0.0,206000000,0.000000
10989,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1969,0.0,208000000,0.000000
10990,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1970,0.0,210000000,0.000000
10991,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1971,0.0,211000000,0.000000
10992,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1972,0.0,213000000,0.000000
10993,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1973,0.0,215000000,0.000000
10994,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1974,0.0,217000000,0.000000
10995,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1975,0.0,219000000,0.000000
10996,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1976,0.0,221000000,0.000000
10997,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1977,0.0,223000000,0.000000
10998,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1978,0.0,225000000,0.000000
10999,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1979,0.0,227000000,0.000000
11000,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1980,0.0,229000000,0.000000
11001,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1981,0.0,232000000,0.000000
11002,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1982,0.0,234000000,0.000000
11003,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1983,0.0,236000000,0.000000
11004,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1984,91600.0,238000000,0.000385
11005,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1985,340000.0,240000000,0.001417
11006,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1986,682000.0,243000000,0.002807
11007,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1987,1230000.0,245000000,0.005020
11008,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1988,2070000.0,247000000,0.008381
11009,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1989,3510000.0,250000000,0.014040
11010,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1990,5280000.0,252000000,0.020952
11011,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1991,7560000.0,255000000,0.029647
11012,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1992,11000000.0,257000000,0.042802
11013,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1993,16000000.0,260000000,0.061538
11014,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1994,24100000.0,262000000,0.091985
11015,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1995,33800000.0,265000000,0.127547
11016,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1996,44000000.0,268000000,0.164179
11017,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1997,55300000.0,272000000,0.203309
11018,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1998,69200000.0,275000000,0.251636
11019,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,1999,86000000.0,279000000,0.308244
11020,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2000,109000000.0,282000000,0.386525
11021,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2001,129000000.0,285000000,0.452632
11022,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2002,142000000.0,287000000,0.494774
11023,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2003,161000000.0,290000000,0.555172
11024,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2004,185000000.0,292000000,0.633562
11025,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2005,204000000.0,295000000,0.691525
11026,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2006,230000000.0,298000000,0.771812
11027,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2007,249000000.0,301000000,0.827243
11028,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2008,261000000.0,303000000,0.861386
11029,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2009,274000000.0,306000000,0.895425
11030,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2010,285000000.0,309000000,0.922330
11031,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2011,297000000.0,312000000,0.951923
11032,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2012,305000000.0,314000000,0.971338
11033,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2013,311000000.0,316000000,0.984177
11034,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2014,356000000.0,319000000,1.115987
11035,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2015,382000000.0,321000000,1.190031
11036,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2016,396000000.0,323000000,1.226006
11037,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2017,400000000.0,325000000,1.230769
11038,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2018,422000000.0,327000000,1.290520
11039,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,un_europe_and_northern_america,True,na,US,americas,america,2019,0.0,329000000,0.000000

In [10]:
geo_upper = joined['geo'].apply(lambda x: x.upper())
geo_upper

0        AFG
1        AFG
2        AFG
3        AFG
4        AFG
        ...
11635    ZWE
11636    ZWE
11637    ZWE
11638    ZWE
11639    ZWE
Name: geo, Length: 11640, dtype: object

In [11]:
# Process data
joined.describe()

,iso3166_1_numeric,latitude,longitude,year,cell_phones_total,population,cell_phones_per_person
count,11640.000000,11640.000000,11640.000000,11640.000000,1.164000e+04,1.164000e+04,11640.000000
mean,432.463918,18.989542,22.029488,1989.500000,7.875722e+06,2.710307e+07,0.235536
std,253.380691,23.879363,66.519886,17.318846,5.572496e+07,1.086187e+08,0.433303
min,4.000000,-42.000000,-175.000000,1960.000000,0.000000e+00,4.380000e+03,0.000000
25%,212.000000,4.000000,-6.000000,1974.750000,0.000000e+00,1.117500e+06,0.000000
50%,429.000000,17.191665,21.375000,1989.500000,0.000000e+00,5.100000e+06,0.000000
75%,659.000000,40.000000,50.550000,2004.250000,5.615000e+05,1.590000e+07,0.233667
max,894.000000,65.000000,179.144780,2019.000000,1.730000e+09,1.430000e+09,2.126068

In [12]:
print("number of unique countries are", joined['geo'].nunique())

number of unique countries are 194

In [13]:
total = joined.loc[joined['year'] == 2017]
task = total.sort_values(['Country', 'cell_phones_total'], ascending=False).groupby('Country').head(10)
value = task[['Country', 'cell_phones_total']]
value.nlargest(5, 'cell_phones_total')

             Country  cell_phones_total
1977           China       1.470000e+09
4677           India       1.170000e+09
4617       Indonesia       4.350000e+08
11037  United States       4.000000e+08
8877          Russia       2.270000e+08